body {
    background: black;
    overflow: hidden;
}

.scrolling-text-container {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    height: 1200;
    width: 1200;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

#content h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

body {
    background: black;
    overflow: hidden;
}

.scrolling-text-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 70%;
    overflow: hidden;
}

#content {
    visibility: scroll;
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
    text-align: center;
}

#content h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
