body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: black;
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 5px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: black;
    color: yellow;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.tab.active {
    background-color: yellow;
    color: black;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group label {
    width: 80%;
    display: block;
    margin-bottom: 5px;
    color: yellow;
    margin-bottom: 10px;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: black;
    color: yellow;
}

.form-group input[type="submit"] {
    background-color: yellow;
    color: black;
    cursor: pointer;
    width: 40%;
}

#logo {
    width: 50px;
    height: 64px;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.star-wars-title {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: yellow;
}
