@font-face {
    font-family: 'Pathway Gothic One';
    src: url('../assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf') format('ttf')
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: #3e3e3e;
}

#logo {
    width: 50px;
    height: 64px;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.config-form {
    width: 60%;
    margin: 100px auto;
    padding: 30px;
    background-color: #2e2e2e;
    border: 1px solid #4a4a4a;
    border-radius: 8px;
}

.config-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.config-form input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #3e3e3e;
    border: none;
    border-radius: 4px;
}

h1,
h2,
h3 {
    text-align: center;
}

.star-wars-title {
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 32px;
}

.config-form input[type="submit"] {
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.config-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.center-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#gray-background-loader {
    display: none;
    background-color: #4a4a4a7c;
    height: 100vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}